
@{
    ViewBag.Title = "New";
}

<h2>Create Airplane</h2>

<form action="/Airplane/Create" method="POST">
    <div class="mb-2">
        <label>Airplane Model : </label> <input type="text" name="AirplaneModel" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Registration Number : </label> <input type="text" name="RegistrationNum" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Manufacturer : </label> <input type="text" name="ManufacturerName" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Manufacture Year : </label> <input type="date" name="ManufactureYear" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Max Passengers : </label> <input type="number" name="MaxPassenger" min="0" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Engine Model : </label> <input type="text" name="EngineModel" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Speed : </label> <input type="number" name="Speed" step="0.01" min="0" class="input-forms"/>
    </div>
    <div class="mb-2">
        <label>Range : </label> <input type="number" name="Range" step="0.01" min="0" class="input-forms"/>
    </div>

    <div>
        <input type="submit" value="Add Airplane" class="btn btn-primary"/>

    </div>
</form>

